*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
   background-color: #7cf03d;
}
a {
    color: white;
    text-decoration: none;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f242d;
    z-index: 100;
   
}
.header .logo {
    font-size: 30px;
    font-weight: 700;
}

.header ul li {
    list-style: none;
    margin-left: 35px;
}
.header ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.header ul li:hover a,
.header ul li.active a {
    color: #7cf03d;
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    background: #1f242d;
    margin-bottom: 10px;
}
.home-content h1 {
    font-size: 55px;
}
.home-content h3 {
    font-size: 32px;
    margin-top: 10px;
    color: #7cf03d;
}
.home-content p {
    font-size: 16px;
    width: 60%;
    margin-top: 10px;
}
#contact .btn-socialMedia {
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    margin-top: 10px;
    transition: .5s;
}
.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}
#contact{
    height: 75vh;
    background: #1f242d;
    scroll-margin-top: 100px;
}
#contact .btn-socialMedia .socio-icon {
margin-left: 20px;
}
#contact .btn-socialMedia .socio-icon a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 20px;
    color:rgb(249, 249, 255);
    margin: 0 8px;
}
#contact .btn-socialMedia .socio-icon a:hover {
    background: aliceblue;
    color: #1f242d;
    /* box-shadow: 0 0 10px rgb(25, 176, 236); */
}
#exper {
    background: #1f242d;
    min-height: 86vh;
    scroll-margin-top: 100px;
}
#exper h1{
    font-size: 50px;
}
#exep-content {
    width: 100%;

}
#exep-content div{
    border: 1px solid #7cf03d;
    flex: 1;
    min-width: 0px;
    height: 350px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer{
    background-color: #1f242d;
}
#footer ul li a:hover{
    text-decoration: underline;
}
.mobile-view{
    width: 100%;
    background-color: #1f242d;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 2000;
    display: none !important;
    /* transform: translateY(-100%); */
    /* transition: all 0.3s ease; */
      
}
.mobile-view.active {
    display: block !important;
    /* transform: translateY(0); */
  }

.mobile-view ul li {
    list-style: none;
    margin-left: 35px;
}
.mobile-view ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.mobile-view ul li:hover a,
.mobile-view ul li.active a {
    color: #7cf03d;
}